*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    width: auto;
    height: 700px;
    background-color: white;
    
}
.curve{
    margin-top: -5%;
}
.bg{
     margin-top: 50px;
    margin-left: 600px;
    height: 83%;
}
.text{
    width: 600px;
    height: 300px;
    margin-top: -40%;
    margin-left: 9%;
    font-size: 2rem;
    color: hsl(240, 38%, 20%);
}
.img{
    margin-left: 600px;
    margin-top: -400px;
}
.img_person{
    margin-top: -18px;
    margin-left: 70px;
    height: 480px;
}
.text_name{
    width: 500px;
    height: 50px;
    margin-top: 65px;
}
.unique{
    color: #dfdff1;
    font-weight: lighter;
    font-size: 1.3rem;
}
.h6_text{
    color: hsl(240, 38%, 20%) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    width: 120px;
    height: 50px;
    background-color: white;
    margin-left: 120px;
    position: absolute;
    margin-top: -30px;
    border-radius: 30px;
    display: flex;
    border: 1px solid  #dfdff1;
}
.prev{
   width: 50px;
   height: 20px;
   margin-top: 15px;
   margin-left: 25px;
}
.next{
    width: 50px;
   height: 20px;
   margin-top: 15px;
   margin-left: 10px;
}

/* end */
.title{
    text-align: center;
    font-weight: 300;
    color:  hsl(240, 38%, 20%);
}


/* media queries */
@media screen and (max-width:768px) {
    .bg{
        margin-top: 20px;
        height: 330px;
        margin-left: 4%;
    }
    .text{
        margin-top: 12%;
    }
    .img_person{
        height:  273px;;   
        margin-top: -99%;
        margin-left: -10px;
    }
    .img{
        margin-left: 20%;
        margin-top: -103%;
    }
    .icons{
        width: 108px;
        margin-left: 66px;
    }
    .text{
        width: 350px;
        text-align: center;
        font-size: 1.2rem;
        margin-left: 5%;
    }
    .h6_text{
        font-size: 1.3rem;
    }
    .text_name{
        margin-left: -20%;
    }
}


@media screen and (min-width:768px) {
    
}